extends layout

block content
  header
  h1(style="text-align:center") Jonathan Bai
  div(id="wholething")
    div(id="left-edge")
    div#total-assertions Assertions 
      span  
    div#anon-sessions Anon Sessions 
      span  
    div#reg-sessions Reg Sessions 
      span
    div(id="right-edge")
    div(id="intraday")
    div(id="daily")
    div(id="weekly")
    div(id="barGraph")
